.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    background: #e3dcdc;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 255, 0.7);
}

#counter{
    text-align: center;
}
#number{
    text-align: center;
}
#result{
    text-align: center;
}
#btn{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
}